
img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

p {
	margin-left: 1.66%;
	font-family: 'Zilla Slab Highlight', cursive;
	font-size: 23px;
	font-weight: 400;
	text-transform: uppercase;
	border-bottom: 2px solid #F1F1F1;
	width:30%;
	padding-bottom: 20px;
}


